<mat-card class="rank-card">
  <div class="rank">{{record.rank}}</div>
  <igx-avatar initials="{{record.first.substring(0, 1)}}{{record.last.substring(0,1)}}"
              [roundShape]="true"
              size="medium" [ngStyle]="{'background':getRandomColor()}">
  </igx-avatar>
  <div class="calories">
    <div class="titlecal">{{record.avgcalories}}Cal</div>
    <section class="calories">
      <mat-progress-bar class="example-margin" [color]="accentColor" [value]="calrate">
      </mat-progress-bar>
    </section>
    <div class="caloriesgoal">{{calrate}}%</div>
  </div>
  <div></div>
  <div class="minutes">
    <div class="titletime">{{record.avgminutes}}Min</div>
    <section class="time">
      <mat-progress-bar class="example-margin" [value]="minuterate">
      </mat-progress-bar>
    </section>
    <div class="timegoal">{{minuterate}}%</div>
  </div>
</mat-card>
